<%- include("header") -%>
    <div class="box" id="heading">
        <h1>  <%= List_title %> !</h1>
    </div>
    

    <div class="box" >
     <%   next_item.forEach(function(item){ %>
        <form action="/delete" method="post">
             <div class="item">
            <input type="checkbox" name="checkedbox" value="<%=item.id%>" onChange="this.form.submit()">
            <p> <%= item.name %> </p>
        </div> 
           </form>
       <% }); %>
  

    <form class="item" action="/"  method="post">

        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value = <%= List_title %> >+</button>
    </form>  
       </div>   
<%- include("footer") -%>